@import "../../shared/styles/global.scss";

.MainContainer__container {
  background: $mainBackColor;
  color: $mainTextColor;
  height: 100%;
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;

  h1,
  h2,
  h4,
  h4,
  h5 {
    margin: 0;
  }
}
