// Green
$mainBackColor : #F5F5F5;
$mainTextColor : #8DB48E;
$secondaryBackColor : #F5F5F5;
$secondaryTextColor : #4D724D;

// Gold
// $mainBackColor : #F5F5F5;
// $mainTextColor : #8DB48E;
// $secondaryBackColor : #F5F5F5;
// $secondaryTextColor : #4D724D;