// Green
$mainBackColor: #f5f5f5;
$mainTextColor: #8db48e;
$secondaryBackColor: #f5f5f5;
$secondaryTextColor: #4d724d;
$cardBackColor: white;

// Gold
// $mainBackColor : #F5F5F5;
// $mainTextColor : #8DB48E;
// $secondaryBackColor : #F5F5F5;
// $secondaryTextColor : #4D724D;
// $cardBackColor: whitesmoke;
