// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

p,
small,
link,
a,
div {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
